MONGO_URL=mongodb://localhost:27017
REDIS_URL=redis://localhost:6379

# Google Drive Storage Integration
GOOGLE_DRIVE_TARGET_EMAIL=verdictaisupport@gmail.com
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
GOOGLE_DRIVE_TOKEN_FILE=token.json
GOOGLE_DRIVE_CLIENT_SECRET_FILE=client_secret.json
GOOGLE_DRIVE_ENABLED=true