fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

pymongo
motor

python-jose
passlib[bcrypt]
bcrypt
python-dotenv

pymupdf
pdfplumber
pdf2image
pytesseract
easyocr
opencv-python
Pillow

numpy
pandas
scikit-learn
torch
transformers
sentence-transformers
accelerate

faiss-cpu

langchain
langchain-community
langchain-core
langchain-text-splitters

rank-bm25

httpx
aiofiles
requests

redis
celery

tqdm
orjson
ujson
loguru

pytest
pytest-asyncio

openai
ollama
google-genai
tiktoken
